html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 400px;
    background-color: #ece9e9;
    border-radius: 10px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}

a:link, a:visited {
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
    height: 30px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #989494;
}

.modal-content {
    padding: 10px 22px;
    display: flex;
    justify-content: center;
}

.modal-icons {
    border-top: 0.5px solid #989494;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 12px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 0px;
}

.version {
    color: #444;
    font-size: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
    cursor: pointer;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fab {
    font-size: 40px;
}

i.fa-whatsapp {
    color: #25D366;
}

i.fa-facebook {
    color: #3b5998;
}

i.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i.fa-twitter {
    color: #1DA1F2;
}

i.fa-linkedin {
    color: #0077b5;
}

.popover-wrapper {
    display: inline-block;
    position: relative;
}

.popover {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
    width: auto;
    border-radius: 5px;
    margin-top: 10px;
    left: 50px;
    top: 0px;
    background-color: #fff;
}

.popover-content {
    padding: 5px;
    white-space: nowrap;
}

.popover-content:hover {
    background-color: #dfdfdf;
}

.popover-content > a {
    color: #000;
}

.popover::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: -20px;
    top: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent #fff transparent transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover-wrapper:hover .popover {
    z-index: 10;
    opacity: 1;
    visibility: visible;
}
